.videoImg{
    width: 150px;
    height: 100px;
}

.playlistDiv{
    color: #f2f2f2;
background-color: #161a1f;
}

body{
    background-color: #06070d !important;
}

.example-dt
{
    margin-left: 10px;
}

 p {
    margin: 0 0 0px !important;
}

.playlistVideos
{
    height: 450px !important;
    overflow-y: scroll !important;
}
img:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(39, 16, 245, 0.774);
-moz-box-shadow:    0px 0px 30px 0px rgba(39, 16, 245, 0.774);
box-shadow:         0px 0px 30px 0px rgba(39, 16, 245, 0.774);
}