.videoImg{
    width: 150px;
    height: 100px;
}

.playlistDiv{
    color: #f2f2f2;
background-color: #161a1f;
}

body{
    background-color: #06070d !important;
}

.example-dt
{
    margin-left: 10px;
}

 p {
    margin: 0 0 0px !important;
}

.playlistVideos
{
    height: 450px !important;
    overflow-y: scroll !important;
}