.example-card {
    //max-width: 250px;
    padding: 20px;
  }
  
  .example-header-image {
    background-image: url('https://cdn.icon-icons.com/icons2/617/PNG/512/social_media_logo_video_player_icon-icons.com_56665.png');
    background-size: cover;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}