<div class="example-card">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.youtube.com/vi/2uhLKakAPVI/hqdefault.jpg" alt="Photo of a Shiba Inu">
    
    <mat-card-content>
      <p>
        descriere
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>PLAY</button>
      <button mat-button>DELETE</button>
      <button mat-button>ADD TO A PLAYLIST</button>
    </mat-card-actions>
  </mat-card>
</div>

