<div class="example-card">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{playlist.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\media\{{playlist.imgPath}}" alt="Playlist Image">
    
    <mat-card-content>
      <p>
        Duration: {{playlist.duration}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-button><a routerLink="/play-videos-playlist/{{ playlist.id }}">PLAY</a></button>
        <button mat-button><a routerLink="/edit-playlist/{{ playlist.id }}">EDIT</a></button>
        <button mat-button (click)="deletePlaylist()" color="warn">DELETE</button>
      </div>
    <div>
      <button  style="margin-left: 17%" mat-button>MANAGE VIDEOS</button>
    </div>
    </mat-card-actions>
  </mat-card>
</div>

