/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// regular style toast
@import '~ngx-toastr/toastr';

.invalid-feedback{
    display: block !important;
    font-size: 14px !important;
}

h1 {
    font-family: sans-serif;
    margin:auto;
    text-align: center;
    color: black;
    font-size: 40px;
    max-width: 800px;
    position: relative;
  }
  h1:before {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: #2b0d7e;
    left: 85px;
    top: 50%;
    position: absolute;
  }
  h1:after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: #2b0d7e;
    right: 85px;
    top: 50%;
    position: absolute;
  }
