<div class="container">


<div class="row">
    <h1 class="song-title">{{video.name}} - {{video.singer}}</h1>
</div> 
<div class="row back-btn" >
    <button mat-raised-button color="primary"><a routerLink="/">Back</a></button>
</div> 

<div class="row videoPlayerDiv">
    <iframe width="820" height="445" src="https://www.youtube.com/embed/mWRsgZuwf_8">
    </iframe>
</div>

<div> 
    <h2>Details:</h2>
    <p><b>Name: </b> {{video.name}}</p>
    <p><b>Singer: </b> {{video.singer}}</p>
    <p><b>Genre: </b> {{video.genre}}</p>
    <p><b>Description: </b> {{video.description}}</p>
    <p><b>Duration: </b> {{video.duration}}</p>
</div>

<div><p>urlCode: {{video.urlCode}}</p></div>
<div><p>urlIframe: {{urlIframe}}</p></div>
<div><p>safe: {{safeUrl}}</p></div>
</div>