<div class="container">


<div class="row">
    <h2 class="song-title">{{video.name}} - {{video.singer}}</h2>
</div> 
<div class="row back-btn" >
    <button mat-raised-button color="primary"><a routerLink="/">Back</a></button>
</div> 

<div class="row videoPlayerDiv">
    <iframe width="820" height="445" [src]="safeUrl">
    </iframe>
</div>

<div class="row justify-content-center mt-5">
<div class="details"> 
    <h2>Details:</h2>
</div>
<div>


<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Singer</th>
            <th>Genre</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{video.name}}</td>
            <td>{{video.singer}}</td>
            <td>{{video.genre}}</td>
            <td>{{video.duration}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>

