.videoPlayerDiv
{
    margin-left: 15%;
    padding: 20px;
}
.back-btn
{
    float: right;
    display: block;
    margin-right: 50px;
    color: white !important;
}

.mat-raised-button.mat-primary
{
    background-color: white;
    margin: 10px;
}

.song-title{
    margin-left: 40%;
    margin-top: 20px;
}